html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: black;
}
a {
    text-decoration: none;
    color: #818181;
    margin: 15px;
}

a:hover {
    color: black;
    cursor: pointer;
}

h1, h2, p {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    color: black;
    padding: 26px 40px;
    text-align: center;
    font-size: 1.2em;
    z-index: 5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);   
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.7em;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 6;
}

.sidebar.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.modal, .modal-capcha {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal{
    z-index: 7;
}

.modal-capcha{
    z-index: 8;
}
.modal-content {
    height: fit-content;
    background-color: #fff;
    color: #000000;
    max-height: 80vh;
    overflow-y: auto;
    padding: 40px 30px 20px 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

form {
    display: grid;
    grid-row-gap: 10px;
}

.close {
    margin-left: 3px;
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-content h2 {
    margin-top: 0;
    text-align: center;
    font-size: 27px;
}

.modal-content p{
    text-align: center;
}

.modal-content label {
    margin-top: 15px;
}

.modal-content input {
    padding: 12px 15px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.modal-content input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px #0056b3;
}

.modal-content button {
    margin: 10px auto 0 auto;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.modal-content button:hover {
    background-color: #fff;
    color: #0056b3;
    border: 2px solid #0056b3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-content a {
    text-align: center;
}

.menu-button {
    display: none;
}

.notifications {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1000;
}

.notification {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    color: white;
    display: none;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.error {
    background-color: #F44336;
}

main {
    background-color: #ffffff;
}

.background-section {
    background-image: url('assets/6197033.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-elements {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
}

.main-big-text {
    padding-top:30px ;
    font-size: 4em;
    margin-bottom: auto;
}
.arrow {
    align-self: center;
    width: fit-content;
    font-size: 10em;
    transition: transform 0.3s;
    color:#44f4cb;
}

.arrow:hover {
    color:#2b987f;
}

.info-section {
    height: 92vh;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 2em;
}

.info-content {
    max-width: 1200px;
    margin: 0 auto;
}

.images {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.image-item {
    width: 100%;
    max-width: 600px;
    margin: 0 30px;
    border-radius: 8px;
}

.image-item:hover {
    cursor: pointer;
    border: 1px solid #00a2ff;
    box-shadow: 0px 0 5px rgba(0, 174, 255, 1);
}

.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.learn-more-button:hover {
    background-color: #0056b3;
}

.advantages-section {
    font-size: 2em;
    padding: 40px;
    text-align: center;
    background-color: #dde3ff;
}

.advantages-content {
    margin-top: 1%;
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.advantage-item {
    width: 30%;
    margin: 20px;
}

.image-item-2 {
    width: 100%;
    max-width: 800px;
    min-width: 100px;
    border-radius: 8px;
}

.image-item-2:hover {
    cursor: pointer;
    border: 1px solid #00a2ff;
    box-shadow: 0px 0 5px rgba(0, 174, 255, 1);
}

.register-button-container {
    background-color: #dde3ff;
    text-align: center;
    margin-bottom: 20px;
}

.register-button {
    display: inline-block;
    padding: 18px 32px;
    background-color: #007bff;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0062ca;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: black;
    font-size: large;
}

.dark-theme {
    background-color: black;
    color: white;
}

.dark-theme header {
    background-color: black;
    color: white;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.5);
}

.dark-theme main {
    background-color: black;
}

.dark-theme footer {
    background-color: black;
    color: white;
}

.dark-theme a:hover {
    color: white;
}

.dark-theme .sidebar {
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.5);
    background-color: black;
    color: white;
}
.dark-theme .arrow:hover {
    color:#2b987f;
}
.dark-theme .advantages-section {
    background-color: #18214d;
    color: white;
}

.dark-theme .advantages-content {
    color: white;
}

.dark-theme .register-button-container {
    background-color: #18214d;
}

.dark-theme .modal-content {
    background-color: #18214d;
    color: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 174, 255, 1);
}

@media screen and (max-width: 1350px) {
    .background-section {
        height: 70vh;
    }
    .main-big-text {
        font-size: 3em;
    }
    .main-small-text {
        font-size: 1.5em;
    }
    .arrow {
        font-size: 7em;
    }
    .image-item {
        max-width: 300px;
    }
    .info-section{
        height: 70vh;
        min-height: fit-content;
    }
}

@media screen and (max-width: 745px) {
    h2{
        font-size: 1.4em;
    }

    header {
        padding: 18px 40px;
    }

    .buttons {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .sidebar.active {
        display: block;
        transform: translateX(0);
    }
    .background-section {
        height: 60vh;
    }
    .main-big-text {
        font-size: 3em;
    }
    .main-small-text {
        font-size: 1.5em;
    }
    .arrow {
        font-size: 7em;
    }
    .images {
        display: block;
        text-align: center;
    }

    .image-item {
        width: 100%;
        max-width: 600px;
        margin: 10px auto;
        display: block;
    }

    .info-section {
        height: 60vh;
        text-align: center;
    }

    .advantages-content {
        display: block;
        text-align: center;
    }

    .advantage-item {
        width: 100%;
        margin: 20px 0;
    }

    .image-item-2 {
        width: 80%;
        max-width: 400px;
        margin: 10px auto; 
    }

    .advantages-section {
        padding: 20px;
    }

    .register-button {
        padding: 12px 24px;
        font-size: 20px;
    }
    
}
