    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoinTracker</title>
        <link rel="stylesheet" href="CoinTracker.css">
        <link type="image/x-icon" href="https://png.klev.club/uploads/posts/2024-05/png-klev-club-cmy7-p-moneti-ikonka-png-13.png" rel="shortcut icon">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div id="app"> 
            <header>
                <div class="header-content">
                    <div class="logo">CoinTracker</div>
                    <nav class="buttons">
                        <a class="themeToggle">Сменить тему</a>
                        <a href="#" @click.prevent="openLogInModal">Войти</a>
                        <a href="#" @click.prevent="openSignUpModal" >Зарегистрироваться</a>
                    </nav>
                    <a id="menuToggle" class="menu-button">Меню</a>
                </div>
            </header>

            <aside id="sidebar" class="sidebar">
                <nav>
                    <a class="themeToggle">Сменить тему</a>
                    <a href="#" @click.prevent="openLogInModal">Войти</a>
                    <a href="#" @click.prevent="openSignUpModal">Зарегистрироваться</a>
                </nav>
            </aside>
            <div id="notifications" class="notifications"></div>
            <main>
                <section class="background-section">
                    <div class="main-elements">
                        <h1 class="main-big-text">CoinTracker: Ваш проводник в мир криптовалют</h1>
                        <a href="#next-section" class="arrow">⬇</a>
                    </div>            
                </section>

                <section id="next-section" class="info-section">
                    <div class="info-content">
                        <h2>Инвестируйте уверенно с CoinTracker.</h2>
                        <p>Доступ к исчерпывающей информации о криптомонетах и профессиональные инструменты для инвестиций</p>
                        <div class="images">
                            <img src="assets/image1.jpg" alt="Картинка 1" class="image-item" @click="openSignUpModal">
                            <img src="assets/image2.jpg" alt="Картинка 2" class="image-item" @click="openSignUpModal">
                        </div>
                        <a href="#advantages" class="learn-more-button">Узнать больше</a>
                    </div>
                </section>

                <section id="advantages" class="advantages-section">
                    <h2>Преимущества CoinTracker</h2>
                    <div class="advantages-content">
                        <div class="advantage-item">
                            <h3>Полный каталог криптомонет</h3>
                            <p>Просматривайте все доступные криптомонеты с удобными фильтрами для быстрого поиска.</p>
                            <img src="assets/image3.jpg" alt="Картинка 3" class="image-item-2">
                        </div>
                        <div class="advantage-item">
                            <h3>Монеты под наблюдением</h3>
                            <p>Настройте список отслеживаемых монет и получайте обновления в реальном времени.</p>
                            <img src="assets/image4.jpg" alt="Картинка 4" class="image-item-2">
                        </div>
                        <div class="advantage-item">
                            <h3>Алгоритмический выбор</h3>
                            <p>Получайте рекомендации по перспективным монетам, отобранным нашими алгоритмами.</p>
                            <img src="assets/image5.jpg" alt="Картинка 5" class="image-item-2">
                        </div>
                    </div>
                </section>

                <div class="register-button-container">
                    <a class="register-button" @click="openSignUpModal">Зарегистрироваться</a>
                </div>
                <div v-if="isSignUpModalOpen" class="modal" @click="closeModal">
                    <div class="modal-content" @click.stop>
                        <span class="close" @click="closeModal">&times;</span>
                        <h2>Зарегистрироваться в CoinTracker</h2>
                        <p>С помощью электронной почты</p>
                        <form id="SignUpForm" @submit.prevent="submitSignUpForm">
                            <label for="login">Логин</label>
                            <input id="SignUpLogin" required>
            
                            <label for="email">Электронная почта</label>
                            <input type = "email" id="SignUpEmail" required>
            
                            <label for="password">Пароль</label>
                            <input type="password" id="SignUpPassword" required>
            
                            <label for="password2">Подтвердите пароль</label>
                            <input type="password" id="SignUpPassword2" required>
            
                            <button type="submit">Зарегистрироваться</button>

                            <a href="#" @click.prevent="openLogInModal">Уже есть аккаунт?</a>
                        </form>
                    </div>
                </div>

                <div v-if="isLogInModalOpen" class="modal" @click="closeModal"> 
                    <div class="modal-content" @click.stop>
                        <span class="close" @click="closeModal">&times;</span>
                        <h2>Войти в CoinTracker</h2>
                        <form id="LogInForm" @submit.prevent="submitLogInForm">
                            <label for="login">Электронная почта/Логин</label>
                            <input id="LogInLogin" required>
            
                            <label for="password">Пароль</label>
                            <input type="password" id="LogInPassword" required>
            
                            <button type="submit">Войти</button>
                        </form>
                    </div>
                </div>
                
            </main>
            <footer>
                <p>&copy; 2024 CoinTracker. Все права защищены.</p>
            </footer>
        </div>
        <script src="scripts/CoinTracker.js"></script>
        <script src="scripts/theme.js"></script>
    </body>
    </html>
