html {
    scroll-padding-top: 80px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: black;
}

a {
    text-decoration: none;
    color: #818181;
    margin: 15px;
}

a:hover {
    color: black;
    cursor: pointer;
}

h1, h2, p {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    color: black;
    padding: 26px 40px;
    text-align: center;
    font-size: 1.2em;
    z-index: 5;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.7em;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 6;
}

.sidebar.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.menu-button {
    display: none;
}

main {
    background-color: #dde3ff;
}

.background-section {
    background-color:black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-elements {
    z-index: 1;
    color: white; 
}

.main-big-text {
    font-size: 3.5em;
}

.main-small-text {
    font-size: 2em;
}

.arrow {
    font-size: 10em;
    transition: transform 0.3s;
}

.arrow:hover {
    color: white;
    transform: scale(1.1);
}

.info-section {
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 2em;
}

.info-content {
    max-width: 1200px;
    margin: 0 auto;
}

.images {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.image-item {
    width: 100%;
    max-width: 600px;
    margin: 0 2.5%;
    border-radius: 8px;
}

.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.learn-more-button:hover {
    background-color: #0056b3;
}

.advantages-section {
    font-size: 2em;
    padding: 40px;
    text-align: center;
    background-color: #ffffff   ;
}

.advantages-content {
    margin-top: 1%;
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.advantage-item {
    width: 30%;
    margin: 20px;
}

.image-item-2 {
    width: 100%;
    max-width: 800px;
    min-width: 100px;
    border-radius: 8px;
}


.register-button-container {
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.register-button {
    display: inline-block;
    padding: 18px 32px;
    background-color: #007bff;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0062ca;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #dde3ff;
    color: black;
    font-size: large;
}

.dark-theme {
    background-color: black;
    color: white;
}

.dark-theme header {
    background-color: black;
    color: white;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.5);
}

.dark-theme main {
    background-color: black;
}

.dark-theme footer {
    background-color: black;
    color: white;
}

.dark-theme a:hover {
    color: white;
}

.dark-theme .sidebar {
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.5);
    background-color: black;
    color: white;
}

.dark-theme .advantages-section {
    background-color: black;
    color: white;
}

.dark-theme .advantages-content {
    color: white;
}

@media screen and (max-width: 1350px) {
    .background-section {
        height: 40vh;
    }
    .main-big-text {
        font-size: 2.5em;
    }
    .main-small-text {
        font-size: 1.5em;
    }
    .arrow {
        font-size: 7em;
    }
    .image-item {
        max-width: 300px; /* Максимальная ширина для изображений */
    }
    
}

@media screen and (max-width: 745px) {
    .advantages-content {
        display: block;
    }
    header {
        padding: 18px 40px;
    }

    .buttons {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .sidebar.active {
        display: block;
        transform: translateX(0);
    }
    .background-section {
        height: 30vh;
    }
    .main-big-text {
        font-size: 1.5em;
    }
    .main-small-text {
        font-size: 1em;
    }
    .arrow {
        font-size: 5em;
    }

    .images {
        display: block;
    }
}
