@font-face {
  font-family: 'MinecraftFont';
  src: url('minecraft.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4744ff;
  border-color: #4744ff;
}

a:active {
  color: rgb(96, 131, 248);
  border-color: rgb(96, 131, 248);
}

button {
  width: 150px;
  height: 40px;
  background: linear-gradient(rgba(2, 126, 251, 1), rgba(0, 172, 238, 1));
  color: white;
  border: 1px solid rgba(0, 172, 238, 1);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(rgb(255, 255, 255), rgb(132, 203, 231));
  color: rgba(2, 126, 251, 1);
  border: 1px solid rgba(2, 126, 251, 1);
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url('https://img.freepik.com/premium-vector/blue-landscape-decorated-with-cloud-vector-illustration_969863-231941.jpg?semt=ais_hybrid');
  background-repeat: no-repeat;
  /* Не повторяет изображение */
  background-size: cover;
  /* Покрывает весь фон */
  background-position: center;
  /* Центрирует изображение */
}

header {
  background-color: rgba(226, 230, 234, 0.9);
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  margin-bottom: 10px;
}

.adaptive_buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}


.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.header-info {
  text-align: right;
}

section {
  display: flex;
  margin-top: 20px;
  /* Отступ для фиксированного хедера */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

main {
  min-width: 1000px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  min-height: 700px;
  background-color: rgba(226, 230, 234, 0.9);
  border-radius: 1%;
  gap: 30px;
}

.scroll-up {
  position: fixed;
  /* Изменила с absolute на fixed для фиксированного положения */
  bottom: 100px;
  right: 20px;
  width: 50px;
  /* Ширина кнопки */
  height: 50px;
  /* Высота кнопки */
  border-radius: 50%;
  /* Делаем кнопку круглой */
  z-index: 1;
}

.scroll-up:hover {
  transform: translateY(-2px);
  /* Поднимаем кнопку при наведении */
}

.scroll-up:active {
  transform: translateY(1px);
  /* Опускаем кнопку при нажатии */
}

.scroll-up::before {
  content: '↑';
  /* Стрелка вверх */
  font-size: 24px;
  /* Размер иконки */
  display: block;
  /* Делаем иконку блочным элементом */
  text-align: center;
  /* Центрируем текст */
}

footer {
  margin-top: auto;
  padding: 10px;
  background-color: rgba(226, 230, 234, 0.9);
  text-align: center;
  width: 100%;
  z-index: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  display: inline-table;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

label {
  margin-top: 15px;
  color: #555;
}

input {
  width: 100%;
  padding: 12px 15px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

input:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.2);
}

select {
  width: 100%;
  padding: 12px 15px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

select:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.2);
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}


.modal-content {
  height: fit-content;
  background-color: #fff;
  max-height: 80vh;
  overflow-y: auto;
  margin: 5% auto;
  margin-top: 8%;
  padding: 30px 40px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  position: relative;
  animation: fadeIn 0.3s;
  z-index: 4;
}

form {
  display: grid;
  grid-row-gap: 10px;
}

.hidden {
  display: none;
}


.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal-content h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
}

.modal-content label {
  margin-top: 15px;
  color: #555;
}

.modal-content input {
  width: 100%;
  padding: 12px 15px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.modal-content input:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.2);
}

.modal-content button {
  margin: 10px auto 0 auto;
  padding: 12px 20px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.modal-content button:hover {
  background-color: #fff;
  color: #6c63ff;
  border: 2px solid #6c63ff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.success-message,

.error-message {
  display: none;
  margin:5px;
  text-align: center;
  color: red;
  font-weight: bold;
}

.success-message {
  color: green;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
}

.with-email {
  text-align: center;
}

/* .forgot-password a {
  color: #6c63ff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
} */






.dark-theme {
  background-color: #333;
  color: white;
}

.dark-theme header {
  background-color: rgba(68, 68, 68, 0.9);
}

.dark-theme footer {
  background-color: rgba(68, 68, 68, 0.9);
}

.dark-theme main {
  background-color: rgba(68, 68, 68, 0.9);
  border: none;
  color: white;
}

.dark-theme aside {
  background-color: rgba(68, 68, 68, 0.9);
}

.dark-theme a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.dark-theme a:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

a:active {
  color: #ffeb3b;
  border-color: #ffeb3b;
}


.dark-theme button {
  background: rgba(68, 68, 68);
  color: #ffeb3b;
  border: 1px solid #000;
}

.dark-theme button:hover {
  background: #ffeb3b;
  color: rgba(68, 68, 68);
  border: 1px solid #000;
}

.dark-theme label {
  color: #ffffff;
}

.dark-theme input:focus {
  border-color: #000000;
  outline: none;
  box-shadow: 0 0 0 2px #ffeb3b;
}

.dark-theme .modal-content {
  background-color: rgba(68, 68, 68);
  box-shadow: 0 4px 16px #ffeb3b;
}

.dark-theme .modal-content h2 {
  color: #ffeb3b;
}

.dark-theme .modal-content label {
  color: #ffffff;
}

.dark-theme .modal-content input:focus {
  border-color: #000000;
  outline: none;
  box-shadow: 0 0 0 2px #ffeb3b;
}

.dark-theme .forgot-password a {
  color: #ffeb3b;
}

.dark-theme select:focus {
  border-color: #000000;
  outline: none;
  box-shadow: 0 0 0 2px #ffeb3b;
}


.theme-button {
  background: black;
  color: none;
  width: 50px;
  /* Ширина кнопки */
  height: 50px;
  /* Высота кнопки */
  border: none;
  /* Убираем стандартные границы */
  border-radius: 50%;
  /* Делаем круглый */
  position: relative;
  /* Для абсолютного позиционирования псевдоэлементов */
  cursor: pointer;
  /* Указатель при наведении */
  outline: none;
  /* Убираем обводку */
  transition: background-color 0.3s;
  /* Плавный переход при наведении */
}

/* Стили для кнопки солнца */
.theme-button.sun {
  background: none;
  color: none;
  border: none;
  background: linear-gradient(rgba(2, 126, 251, 1), rgba(0, 172, 238, 1));
}

.theme-button.sun:hover {
  background: none;
  color: none;
  border: none;
  background: linear-gradient(rgb(132, 203, 231), rgb(132, 203, 231));
}

/* Стили для кнопки луны */
.theme-button.moon {
  background: none;
  color: none;
  border: none;
  background-color: #444;
  /* Цвет фона луны */
}

.theme-button.moon:hover {
  background: none;
  color: none;
  border: none;
  background-color: #444;
  ;
  /* Цвет фона при наведении */
  box-shadow: 0 0 15px rgba(255, 235, 59, 0.5);
}

/* Псевдоэлемент для солнца */
.theme-button.sun::before {
  content: '';
  position: absolute;
  top: 10px;
  /* Положение по вертикали */
  left: 10px;
  /* Положение по горизонтали */
  width: 30px;
  /* Размер солнца */
  height: 30px;
  /* Размер солнца */
  background-color: #ffeb3b;
  /* Цвет солнца */
  border-radius: 50%;
  /* Делаем круглый */
  box-shadow: 0 0 15px rgba(255, 235, 59, 0.7);
  /* Тень для солнца */
}

/* Псевдоэлемент для луны */
.theme-button.moon::before {
  content: '';
  position: absolute;
  top: 5px;
  /* Положение по вертикали */
  left: 5px;
  /* Положение по горизонтали */
  width: 40px;
  /* Размер луны */
  height: 40px;
  /* Размер луны */
  background-color: #ffeb3b;
  /* Цвет луны */
  border-radius: 50%;
  /* Делаем круглый */
}

/* box-shadow: 0 0 15px rgba(255, 235, 59, 0.5); */
/* Затемнение для луны */
.theme-button.moon::after {
  content: '';
  position: absolute;
  top: 10px;
  /* Положение по вертикали */
  left: 15px;
  /* Положение по горизонтали */
  width: 35px;
  /* Размер затемнения */
  height: 35px;
  /* Высота затемнения */
  background-color: #444;
  /* Цвет затемнения */
  border-radius: 50%;
  /* Делаем круглый */
  z-index: 1;
  /* Убедимся, что затемнение сверху */
}

.shimmer-text {
  font-family: 'MinecraftFont';
  background: linear-gradient(to right, rgba(2, 126, 251, 1), rgba(0, 172, 238, 1), rgba(2, 126, 251, 1));
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 3s linear infinite;
}

.dark-theme .shimmer-text {
  font-family: 'MinecraftFont';
  background: linear-gradient(to right, rgb(210, 253, 19), rgb(166, 175, 43), rgb(197, 251, 2));
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  from {
    background-position: -200% center;
  }

  to {
    background-position: 200% center;
  }
}

/*####################################################################################*/
/*####################################################################################*/
/*####################################################################################*/
/*####################################################################################*/
/*####################################################################################*/

@media screen and (max-width: 450px) {
  button {
    width: 135px;
    margin-right: 5px;
  }
  
  body {
    z-index: 1;
  }
  
  header {
    background-color: rgb(226, 230, 234);
    padding: 10px;
    position: sticky;
    z-index: 2;
  }
  
  .header-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  .adaptive_buttons{
    display: flex;
    flex-wrap: wrap;
  }
  
  section {
    max-width: 405px;
    padding-right: 5%;
    padding-left: 5%;
  }
  
  main {
    min-width: 80vw;
    padding: 10px;
    min-height: 500px;
  }

  main h2,h1 {
    text-align: center;
  }
  
  ul {
    padding-left: 15px;
  }

  .scroll-up {
    bottom: 75px;
    z-index: 3;
  }
  
  footer {
    background-color: rgba(226, 230, 234, 1);
    z-index: 2;
  }
  

  table {
    border: none;
    overflow-x: auto;
    max-width: 350px;
    display: flex;
  }
  
  thead {
    display: none;
  }

  tbody {
    display: flex;
    width: 100%;
  }

  tr {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 250px;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
  }

  td:first-child {
    font-weight: bold;
    height: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  td:nth-child(4) {
    flex-grow: 1;
  }

  td:last-child {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-between;
  }

  th,
  td {
    padding: 3px;
    border: none;
  }

  td {
    text-align: right;
  }

  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-align: left;
  }

  .edit {
    position:relative;
    width: 25px;
    height: 25px;
    margin: 0px;
    font-size: 0px;
    top: -207px;
  }

  .edit::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(editIcon_negate.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .delete {
    position:relative;
    width: 25px;
    height: 25px;
    margin: 0px;
    font-size: 0px;
    top: -207px;
  }

  .delete::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(deleteIcon_negate.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .complete, .repeat, .restore, .basketDelete {
    height: 25px;
    width: 80%;
    align-self: center;
    margin-bottom: 5px;
  }
  
  #tableHeaderS {
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .tanleH1 {
    font-size: 15px;
    padding: 5px;
  }

  .openBasketForm {
    width: 150px;
  }

  select {
    padding: 5px 5px;
  }
  
  .modal {
    z-index: 4;
  }
  
  
  .modal-content {
    max-height: 90vh;
    max-width: 405px;
    border-radius: 5px;
    z-index: 5;
  }

  .modal-content button {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    min-width: fit-content;
  }
  .modal-content button .delete {
    font-size: 0px;
  }
  
  .theme-button {
    width: 40px;
    height: 40px;
  }
  
  .theme-button.sun::before {
    top: 7.5px;
    left: 7.5px;
    width: 25px;
    height: 25px;
  }
  
  .theme-button.moon::before {
    width: 30px;
    height: 30px;
  }
  
  .theme-button.moon::after {
    top: 8px;
    left: 11px;
    width: 26px;
    height: 26px;
    z-index: 3;
  }
  
  .shimmer-text {
    font-size: 32px;
  }
}

@media screen and (min-width: 451px) {
  button {
    min-height: 40px;
  }

  .modal-content button {
    font-size: 18px;
    width: 100%;
  }
}